html,body{
    height: 100%;
}

#login-container{
    height: 100%;    
    background-image: url('../imgs/login-background.jpg');
    background-size: cover;
}

#login-header{
    height: 20%;
}

#login-form-container{
    opacity: 0.8;
    width: 100%;
}

#login-form{
   width: 50%; 
    
}