html,body{
    height: 100%;
}

#login-container{
    height: 100%;    
    background-image: url('../imgs/login-background.jpg');
    background-size: cover;
}

#login-header{
    height: 20%;
    border: 1 solid blue;
}

#login-form{
    opacity: 0.8;
    width: 50%;
    padding: 30px;
}